{% load static %}
<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}
      body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}
      p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,
      figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}
      button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}
      button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}
      button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <div>
      <link href="{% static "css/-vmegamen.css" %}" rel="stylesheet" />

      <div class="-vmegamen-container">
        <div class="-vmegamen--vmegamen">
          <div class="-vmegamen-header">
            <form>
              <button class="test-btn-class", formaction="{% url 'project-menu' %}">
                <img
                  src="{% static "svg/menubtn5126-mnon.svg" %}"
                  alt="menubtn5126"
                  class="-vmegamen-menubtn"
                />
              </button>
            </form>
            <form>
              <button class="test-btn-class", formaction="{% url 'profile' %}">
                <img
                  alt="userbtn1747"
                  src="{% static "svg/userbtn1747-8s7.svg" %}"
                  class="-vprofile-userbtn"
                />
              </button>
            </form>
          </div>
          <div class="-vmegamen-mainfr">
            <div class="-vmegamen-elemsframe">
              <div class="-vmegamen-aboutus">
                <span class="-vmegamen-text">
                  <span>ММТ представляет</span>
                  <br />
                  <span class="-vmegamen-text014">“ММТ-ГИС”</span>
                </span>
                <div class="-vmegamen-frame18">
                  <img
                    src="{% static "png/ellipse61114-658-200h.png" %}"
                    {% comment %} src="public/external/ellipse61114-658-200h.png" {% endcomment %}
                    alt="Ellipse61114"
                    class="-vmegamen-ellipse6"
                  />
                  <div class="-vmegamen-frame17">
                    <span class="-vmegamen-text004">
                      <span class="-vmegamen-text005">
                        В лучших традициях минимализма.
                      </span>
                      <br>
                      <br>
                      <span class="-vmegamen-text008">
                        Использование передовых технологий в области ML, проектирования и
                        инженерии.
                      </span>
                      <br>
                      <br>
                    </span>
                  </div>
                </div>
              </div>
              <div class="-vmegamen-solutions">
                <span class="-vmegamen-text011">
                  <span>ММТ - решения &amp; продукты</span>
                </span>
                <div class="-vmegamen-frame171">
                  <span class="-vmegamen-text013">
                    <span class="-vmegamen-text014">TRAI</span>
                    <span class="-vmegamen-text015">
                      <span>- Современный ИИ-переводчик</span>
                      <br>
                      <br>
                    </span>
                    <span class="-vmegamen-text019">FCNSwan</span>
                    <span class="-vmegamen-text015">
                      <span>
                        - Приложение для автоматического распознавания видов лебедей
                        на картине
                      </span>
                      <br>
                      <br>
                      <span>
                        И многие другие решения машинного обучения для широкого спектра задач.
                        проблемы
                      </span>
                    </span>
                  </span>
                </div>
              </div>
              <br>
              <span class="-vmegamen-text024"><span>DEVELOPERS</span></span>
              <div class="-vmegamen-devsext">
                <div class="-vmegamen-vladext">
                  <div class="-vmegamen-vlad">
                    <img
                      src="{% static "png/image11116-wfee-200w.png" %}"
                      {% comment %} src="public/external/image11116-wfee-200w.png" {% endcomment %}
                      alt="image11116"
                      class="-vmegamen-image1"
                    />
                    <div class="-vmegamen-frame11">
                      <span class="-vmegamen-text026">
                        <span class="-vmegamen-text027">
                          <span>Poletaev Vladislav</span>
                          <br />
                          <span>-</span>
                        </span>
                        <span class="-vmegamen-text031">RTU MIREA</span>
                        <span>
                          <span>-</span>
                          <br />
                          <span>ML engineer</span>
                        </span>
                      </span>
                      <span class="-vmegamen-text036">
                        <span>#Python, #DL, #ML</span>
                      </span>
                      <span class="-vmegamen-text038">
                        <span>gh: whatisslove11</span>
                        <br />
                        <span>tg: @whatisslove7</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="-vmegamen-egorext">
                  <div class="-vmegamen-egor">
                    <img
                      src="{% static "png/image41117-l5xa-200w.png" %}"
                      {% comment %} src="public/external/image41117-l5xa-200w.png" {% endcomment %}
                      alt="image41117"
                      class="-vmegamen-image4"
                    />
                    <div class="-vmegamen-frame111">
                      <span class="-vmegamen-text042">
                        <span class="-vmegamen-text043">
                          <span>Chufistov George</span>
                          <br />
                          <span>-</span>
                        </span>
                        <span class="-vmegamen-text047">RTU MIREA</span>
                        <span>
                          <span>-</span>
                          <br />
                          <span>Deployment engineer</span>
                        </span>
                      </span>
                      <span class="-vmegamen-text052">
                        <span>
                          <span>#K8S clown, #DevOps</span>
                          <br />
                          <span>#Python, #ML</span>
                        </span>
                      </span>
                      <span class="-vmegamen-text057">
                        <span>gh: georgechufff</span>
                        <br />
                        <span>tg: @asitcomes</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="-vmegamen-sashaext">
                  <div class="-vmegamen-aleksander">
                    <img
                      src="{% static "png/image21119-bjzf-200w.png" %}"
                      {% comment %} src="public/external/image21119-bjzf-200w.png" {% endcomment %}
                      alt="image21119"
                      class="-vmegamen-image2"
                    />
                    <div class="-vmegamen-frame112">
                      <span class="-vmegamen-text061">
                        <span class="-vmegamen-text062">
                          <span>Kalinin Aleksandr</span>
                          <br />
                          <span>-</span>
                        </span>
                        <span class="-vmegamen-text066">RTU MIREA</span>
                        <span>
                          <span>-</span>
                          <br />
                          <span>Backend developer</span>
                        </span>
                      </span>
                      <span class="-vmegamen-text071">
                        <span>#Data_Analyst,</span>
                        <br />
                        <span>#Django</span>
                        <br />
                        <span>#Python, #ML</span>
                      </span>
                      <span class="-vmegamen-text077">
                        <span>gh: Agar1us</span>
                        <br />
                        <span>tg: @Agar1us</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="-vmegamen-alexext">
                  <div class="-vmegamen-alex">
                    <img
                      src="{% static "png/image31120-xmt8-200w.png" %}"
                      {% comment %} src="public/external/image31120-xmt8-200w.png" {% endcomment %}
                      alt="image31120"
                      class="-vmegamen-image3"
                    />
                    <div class="-vmegamen-frame113">
                      <span class="-vmegamen-text081">
                        <span class="-vmegamen-text082">
                          <span>Alexey Lunyakov</span>
                          <br />
                          <span>-</span>
                        </span>
                        <span class="-vmegamen-text086">RTU MIREA</span>
                        <span>
                          <span>-</span>
                          <br />
                          <span>Designer</span>
                        </span>
                      </span>
                      <span class="-vmegamen-text091">
                        <span>
                          <span>#Figma #Flutter</span>
                          <br />
                          <span>#Python #ML</span>
                        </span>
                      </span>
                      <span class="-vmegamen-text096">
                        <span>gh: AlexeyLunyakov</span>
                        <br />
                        <span>tg: @bazarov</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="-vmegamen-damadanext">
                  <div class="-vmegamen-damadan">
                    <img
                      src="{% static "png/image31121-k9vt-200w.png" %}"
                      {% comment %} src="public/external/image31121-k9vt-200w.png" {% endcomment %}
                      alt="image31121"
                      class="-vmegamen-image31"
                    />
                    <div class="-vmegamen-frame114">
                      <span class="-vmegamen-text100">
                        <span>Damadan Shavlukov</span>
                        <br />
                        <span class="-vmegamen-text103">-</span>
                        <span class="-vmegamen-text104">RTU MIREA-</span>
                        <br />
                        <span>Application</span>
                        <br />
                        <span>Architect</span>
                      </span>
                      <span class="-vmegamen-text109">
                        <span>#Dart #Block</span>
                        <br />
                        <span>#Python #Productdesign</span>
                      </span>
                      <span class="-vmegamen-text113">
                        <span>gh: damadan</span>
                        <br />
                        <span>tg: @Damadan</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <form>
                <button class="-vmegamen-button", formaction="{% url 'text' %}">
                  Назад
                </button>
              </form>
            </div>
          </div>
          <br>
          <div class="-vmegamen-footer">
            <div class="-vmegamen-footerframe">
              <form>
                <button class="safaribtn", formaction="https://www.google.com/">
                  <img
                    src="{% static "svg/compassbtn1874-oqd.svg" %}"
                    {% comment %} src="public/external/compassbtn1874-oqd.svg" {% endcomment %}
                    alt="compassbtn1874"
                    class="-vmegamen-compassbtn"
                  />
                </button>
              </form>
              <form>
                <button class="ghbtn", formaction="https://github.com/mireaMegaman/hackaton/">
                  <img
                    src="{% static "svg/githubbtn1877-uk5.svg" %}"
                    {% comment %} src="public/external/githubbtn1877-uk5.svg" {% endcomment %}
                    alt="githubbtn1877"
                    class="-vmegamen-githubbtn"
                  />
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>