.-vmegamen-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgba(7, 7, 7, 1);
  }
  .-vmegamen--vmegamen {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(7, 7, 7, 1);
    opacity: 0;
    transition: 0.5s;
  }
  .-vmegamen--vmegamen:hover {
    opacity: 1;
  }
  .-vmegamen-header {
    height: 60px;
    display: flex;
    padding: 7px 20px;
    overflow: hidden;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(18, 18, 18, 1);
  }
  .-vmegamen-menubtn {
    width: 35px;
    height: 35px;
    transition: 0.5s;
  }
  /* .-vmegamen-menubtn:hover {
    width: 40px;
    height: 40px;
  } */
  .-vmegamen-mainfr {
    gap: 40px;
    display: flex;
    padding: 15px 0;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .-vmegamen-elemsframe {
    gap: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
  }
  .-vmegamen-aboutus {
    gap: 15px;
    margin-bottom: 25px;
    margin-top: 20px;
    display: flex;
    padding: 20px;
    overflow: hidden;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(24, 24, 24, 1);
  }
  .-vmegamen-text {
    color: rgba(255, 255, 255, 1);
    width: 300px;
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 140.02273082733154%;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-frame18 {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .-vmegamen-ellipse6 {
    width: 120px;
    height: 120px;
  }
  .-vmegamen-frame17 {
    gap: 10px;
    width: 250px;
    height: auto;
    display: flex;
    padding: 5px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
  }
  .-vmegamen-text004 {
    color: #ffffff;
    height: auto;
    font-size: 18px;
    align-self: stretch;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-solutions {
    gap: 15px;
    width: 330px;
    display: flex;
    padding: 20px;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(24, 24, 24, 1);
  }
  .-vmegamen-text011 {
    color: rgba(255, 255, 255, 1);
    width: 310px;
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 140.02273082733154%;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-frame171 {
    gap: 10px;
    height: auto;
    display: flex;
    padding: 5px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
  }
  .-vmegamen-text013 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text014 {
    color: rgba(127, 236, 197, 1);
  }
  .-vmegamen-text015 {
    color: rgba(255, 255, 255, 1);
  }
  .-vmegamen-text019 {
    color: rgba(127, 236, 197, 1);
  }
  .-vmegamen-text024 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-devsext {
    gap: 20px;
    width: 754px;
    display: flex;
    padding: 5px;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .-vmegamen-vladext {
    gap: 10px;
    width: 270px;
    height: 200px;
    display: flex;
    padding: 10px 0;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(24, 24, 24, 1);
  }
  .-vmegamen-vlad {
    gap: 20px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .-vmegamen-image1 {
    width: 81px;
    height: 84px;
  }
  .-vmegamen-frame11 {
    gap: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .-vmegamen-text026 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text027 {
    color: rgba(127, 236, 197, 1);
  }
  .-vmegamen-text031 {
    color: rgba(228, 228, 228, 1);
  }
  .-vmegamen-text036 {
    color: rgba(228, 228, 228, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text038 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-egorext {
    gap: 10px;
    width: 270px;
    height: 200px;
    display: flex;
    padding: 10px 0;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(24, 24, 24, 1);
  }
  .-vmegamen-egor {
    gap: 20px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .-vmegamen-image4 {
    width: 81px;
    height: 85px;
  }
  .-vmegamen-frame111 {
    gap: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .-vmegamen-text042 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text043 {
    color: rgba(127, 236, 197, 1);
  }
  .-vmegamen-text047 {
    color: rgba(228, 228, 228, 1);
  }
  .-vmegamen-text052 {
    color: rgba(228, 228, 228, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text057 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-sashaext {
    gap: 10px;
    width: 270px;
    height: 200px;
    display: flex;
    padding: 10px 0;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(24, 24, 24, 1);
  }
  .-vmegamen-aleksander {
    gap: 20px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .-vmegamen-image2 {
    width: 81px;
    height: 85px;
  }
  .-vmegamen-frame112 {
    gap: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .-vmegamen-text061 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text062 {
    color: rgba(127, 236, 197, 1);
  }
  .-vmegamen-text066 {
    color: rgba(228, 228, 228, 1);
  }
  .-vmegamen-text071 {
    color: rgba(228, 228, 228, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text077 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-alexext {
    gap: 10px;
    width: 270px;
    height: 200px;
    display: flex;
    padding: 10px 0;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(24, 24, 24, 1);
  }
  .-vmegamen-alex {
    gap: 20px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .-vmegamen-image3 {
    width: 81px;
    height: 83px;
  }
  .-vmegamen-frame113 {
    gap: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .-vmegamen-text081 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text082 {
    color: rgba(127, 236, 197, 1);
  }
  .-vmegamen-text086 {
    color: rgba(228, 228, 228, 1);
  }
  .-vmegamen-text091 {
    color: rgba(228, 228, 228, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text096 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-damadanext {
    gap: 10px;
    width: 270px;
    height: 200px;
    display: flex;
    padding: 10px 0;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(24, 24, 24, 1);
  }
  .-vmegamen-damadan {
    gap: 20px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .-vmegamen-image31 {
    width: 81px;
    height: 84px;
    border-radius: 360px;
  }
  .-vmegamen-frame114 {
    gap: 14px;
    width: 145px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .-vmegamen-text100 {
    color: rgb(127, 236, 197);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text103 {
    color: #ffffff;
  }
  .-vmegamen-text104 {
    color: #ffffff;
  }
  .-vmegamen-text109 {
    color: rgb(228, 228, 228);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-text113 {
    color: rgba(127, 236, 197, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .-vmegamen-button {
    gap: 10px;
    height: 45px;
    display: flex;
    padding: 2px 10px;
    overflow: hidden;
    align-self: stretch;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background-color: rgba(18, 18, 18, 1);
    color: #7ce8c2;
    transition: 0.7s;
  
  }
  .-vmegamen-button:hover {
    color: #7ce8c2;
    background-color: rgba(25, 25, 25, 1);
  }
  .-vmegamen-footer {
    height: 60px;
    display: flex;
    overflow: hidden;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .-vmegamen-footerframe {
    gap: 150px;
    display: flex;
    padding: 0 20px;
    flex-grow: 1;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    background-color: rgba(18, 18, 18, 1);
  }
  .-vmegamen-compassbtn {
    width: 35px;
    height: 35px;
    transition: 0.5s;
  }
  .-vmegamen-compassbtn:hover {
    width: 40px;
    height: 40px;
  }
  .-vmegamen-githubbtn {
    width: 40px;
    height: 40px;
    transition: 0.5s;
  }
  .-vmegamen-githubbtn:hover{
    width: 45px;
    height: 45px;
  }
  @media(max-width: 991px) {
    .-vmegamen-text {
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-family: Inter;
      font-weight: 700;
      line-height: 140.023%;
      text-decoration: none;
    }
    .-vmegamen-text004 {
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }
    .-vmegamen-text005 {
      color: #ffffff;
      font-size: 18px;
      font-style: inherit;
      font-weight: 500;
    }
    .-vmegamen-text006 {
      color: #ffffff;
      font-size: 18px;
      font-style: inherit;
      font-weight: 500;
    }
    .-vmegamen-text007 {
      color: #ffffff;
      font-size: 18px;
      font-style: inherit;
      font-weight: 500;
    }
    .-vmegamen-text008 {
      color: #ffffff;
      font-size: 18px;
      font-style: inherit;
      font-weight: 500;
    }
    .-vmegamen-text009 {
      color: #000000;
      font-size: 20px;
      font-weight: 600;
    }
    .-vmegamen-text010 {
      color: #ffffff;
      font-size: 18px;
      font-style: inherit;
      font-weight: 500;
    }
    .-vmegamen-text011 {
      font-size: 18px;
    }
    .-vmegamen-text038 {
      color: rgb(127, 236, 197);
      font-size: 14px;
      font-family: Inter;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
    }
    .-vmegamen-text057 {
      color: rgb(127, 236, 197);
      font-size: 14px;
      font-family: Inter;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
    }
    .-vmegamen-text071 {
      color: rgb(228, 228, 228);
      font-size: 14px;
      font-family: Inter;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
    }
    .-vmegamen-text096 {
      color: rgb(127, 236, 197);
      font-size: 14px;
      font-family: Inter;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
    }
    .-vmegamen-text113 {
      color: rgb(127, 236, 197);
      font-size: 14px;
      font-family: Inter;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
    }
  }
  @media(max-width: 767px) {
    .-vmegamen-text071 {
      color: rgb(228, 228, 228);
      font-size: 14px;
      font-family: Inter;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
    }
  }
  @media(max-width: 479px) {
    .-vmegamen-text071 {
      color: rgb(228, 228, 228);
      font-size: 14px;
      font-family: Inter;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
    }
  }