.login-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #181818;
  }
  .login-container1 {
    flex: 0 0 auto;
    width: 831px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .login-container2 {
    width: 100%;
    height: 504px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-container3 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-text {
    color: #ffffff;
  }
  .login-container4 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .login-form {
    gap: var(--dl-space-space-unit);
    width: 450px;
    height: var(--dl-size-size-medium);
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
    padding-bottom: 5px;
    justify-content: center;
  }
  .login-text1 {
    color: #ffffff;
  }
  .login-textinput {
    width: 340px;
    color: #ffffff;
    border-width: 2px;
    background-color: #121212;
  }
  .login-container5 {
    gap: 5px;
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .login-form1 {
    gap: var(--dl-space-space-unit);
    width: 450px;
    height: var(--dl-size-size-medium);
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
    padding-bottom: 5px;
    justify-content: flex-start;
  }
  .login-text2 {
    color: rgb(255, 255, 255);
  }
  .login-textinput1 {
    width: 340px;
    color: #ffffff;
    border-width: 2px;
    background-color: #121212;
  }
  .login-container6 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .login-form2 {
    gap: var(--dl-space-space-unit);
    width: 450px;
    height: var(--dl-size-size-medium);
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: center;
  }
  .login-form2:hover {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .login-button {
    color: rgb(170, 170, 170);
    border-width: 2px;
    background-color: rgb(24, 24, 24);
  }
  .login-button:hover {
    background-color: rgb(40, 40, 40);
    /* color: rgb(170, 170, 170); */
    /* border-width: 2px;
    background-color: rgb(40, 40, 40); */
  }